<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <main>
      <h2 data-cpp><%= htmlWebpackPlugin.options.title %></h2>
      <p>Ea meatloaf turkey ut tenderloin. Voluptate salami cupim, tail flank ham short loin strip steak sirloin cillum alcatra non eiusmod filet mignon hamburger. Pig chicken in, cupim excepteur dolor capicola landjaeger enim beef ribs sunt shank pancetta ipsum dolore. Do shoulder landjaeger bacon elit quis. In cillum qui, drumstick swine beef et non laborum lorem cupim laboris ad landjaeger. Magna do ut, ad bacon tenderloin chicken consequat et alcatra duis.</p>
    </main>

    <aside>
      <img src="http://www.placecage.com/c/350/350" data-cpp>
    </aside>
  </body>
</html>
