////
/// Entry point.
/// @author Simon Finney <simonjfinney@gmail.com>
////

@import 'normalize.css';

body {
  display: grid;
  font-family: system-ui, sans-serif;
  grid-gap: 1rem;
  grid-template-columns: 2fr 1fr;  
}
